# systemd service definition
# copy to /etc/systemd/system
# sudo systemctl enable /etc/systemd/system/systemd.fluentd-kibana.service
# sudo systemctl start systemd.fluentd-kibana.service

[Unit]
Description=Docker Fluentd Kibana
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run -p 9200:9200 -p 9300:9300 -p 24224:24224 -p 80:80 -v /data:/data  -i -t hbussell/docker-fluentd-kibana:docker-fluentd-kibana

[Install]
WantedBy=multi-user.target
